* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1ec;
}

/*Titel*/
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

/*Navigations Menü*/
.topnav{
  overflow: hidden;
  background-color: rgb(138, 50, 50);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: rgb(94, 0, 0);
  color: rgb(255, 253, 253);
  text-decoration: none;
}

.navbar {
  padding: 0;
}

.nav-item {
  margin-right: 10px;
  margin-left: 10 px;
  font-size: large;
}

#home {
  margin-left: 25px;
}

#imgCart {
  font-size: x-large;
}

/*Einkaufswagen*/
#einkaufswagen {
      margin-right: 0!important;
      padding-left: 10px;
      padding-right: 20px;
    }

.btn-cart {
      background-color: #8A3232;
      border-color: #8A3232;
    }

/* Zwei Spalten */
/* Linke Spalte: Main Content*/
.leftcolumn {  
  float: left;
  padding-left: 20px;
  background-color: #f1f1f1;
  width: 75%;
}

/*Carousel*/


.carousel-caption {
  color: black;
}

.carousel-inner img {
  margin: auto;
}

.carousel-control-next-icon {
  background-image : url("../images/carousel/next.svg") ;
}

.carousel-control-prev-icon {
  background-image : url("../images/carousel/back.svg");
}

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
}



/*Rechte Spalte: Side Content*/
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

/*Platzhalter für Bilder*/
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/*Formatierung Links*/
a {
  color: black; 
}

a:hover {
  color: #8A3232;
}


/*Box Effekte für Einträge*/
.box {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Fusszeile*/
.footer {
  padding: 20px;
  text-align: center;
  background: white;
  margin-top: 20px;
}

/*Bilder*/
 .social-media {
  height: 20px;
  width: 20px;
  margin-left: .5em;
  margin-right: .5em;
 }

 .profile-pictures {
  margin-left: 10px;
  margin-right: 10px;
 }

 .logo{
   height: 150px;
   width: 190px;
 }



