/* Layout fuer Spaltenbreite */
table {
	table-layout: fixed;
	word-wrap: break-word;
}

/* erstellen der "rahmen" um die zeilen der tabelle */
tr{
	height: 8em;
}


#titleCol {
	height: auto;
}


/* textausrichtung, achtung bei anpassung der anzahl spalten */
td:nth-child(4), td:last-child, th:nth-child(4), th:last-child{
	text-align: right;
}

/* breite der spalten */
#picturecol{
	width: 8em;
}
#titlecol{
	width: 11%;
}
#pricecol{
	width: 10%;
}
#amountcol{
	width: 11%;
}

/* Farbe des Bestellbuttons */
#bestellButton, #bestellButton:hover, #bestellButton:active, #bestellButton:disabled #bestellButton:focus {
	background-color: #8A3232;
	border-color: #8A3232;
	color: white;
}

/* fakeimg groesse LÖSCHEN VOR PUBLISH */
.fakeimg {
	height: 8em;
}
