* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	padding: 10px;
	background: #f1f1f1ec;
}

/*Titel*/
.header {
	padding: 30px;
	text-align: center;
	background: white;
}

.header h1 {
	font-size: 50px;
}

/*Navigations Menü*/
.topnav{
	overflow: hidden;
	background-color: rgb(138, 50, 50);
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover {
	background-color: rgb(94, 0, 0);
	color: rgb(255, 253, 253);
	text-decoration: none;
}

.navbar {
	padding: 0;
}

.nav-item {
	font-size: large;
}

.nav-item-active {
	margin-right: 10px;
	margin-left: 10px;
	font-size: large;
	background-color: rgb(100, 0, 0);
}


/* Abstand aller Elemente wenn die navbar collapsed */
@media screen and (max-width: 991px) {
	.nav-item {
		margin-left: 4%;
	}
}


/* Abstand vom Home Button vom linken Rand wenn screen large (lg) */
@media screen and (min-width: 992px) {
	#home {
		margin-left: 25px;
	}
	#einkaufswagen {
		padding-left: 10px;
		padding-right: 20px;
	}
}


#imgCart {
	font-size: x-large;
}

/* Darstellung der Drei Striche bei navbar collapsed */
.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*Einkaufswagen*/
#einkaufswagen {
	margin-right: 0!important;
}

#einkaufswagen-Symbol {
	padding-left: 10px;
	padding-right: 10px;
}


.btn-cart {
	background-color: #8A3232;
	border-color: #8A3232;
}

/* Zwei Spalten */
/* Linke Spalte: Main Content*/
.leftcolumn {  
	float: left;
	padding-left: 20px;
	background-color: #f1f1f1;
	width: 75%;
}

/*Carousel*/
.carousel-caption {
	color: black;
}

.carousel-inner img {
	margin: auto;
}

.carousel-control-next-icon {
	background-image : url("../images/carousel/next.svg") ;
}

.carousel-control-prev-icon {
	background-image : url("../images/carousel/back.svg");
}

.carousel-caption {
	position: relative;
	left: auto;
	right: auto;
}



/*Rechte Spalte: Side Content*/
.rightcolumn {
	float: left;
	width: 25%;
	background-color: #f1f1f1;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

/*Platzhalter für Bilder*/
.fakeimg {
	background-color: #aaa;
	width: 100%;
	padding: 20px;
}

/*Formatierung Links*/
a {
	color: black; 
}

a:hover {
	color: #8A3232;
}


/*Box Effekte für Einträge*/
.box {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}

/*Fusszeile*/
.footer {
	padding: 20px;
	text-align: center;
	background: white;
	margin-top: 20px;
}

/*Bilder*/
.social-media {
	height: 20px;
	width: 20px;
	margin-left: .5em;
	margin-right: .5em;
}

.profile-pictures {
	margin-left: 10px;
	margin-right: 10px;
}

.logo{
	height: 150px;
	width: 190px;
}

