fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}

/* Titles */
h3.formtitle {
	clear: both;
	line-height: normal;
	margin: 0;
}

/****** Style Star Rating Widget *****/
fieldset.rating {
	border: none;
	float: left;
}

fieldset.rating > input {
	display: none;
}
fieldset.rating > label:before {
	margin: 5px;
	font-size: 2em;
	display: inline-block;
	content: "\002605";
}

fieldset.rating > label {
	color: #ddd; 
	float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/
fieldset.rating > input:checked ~ label, /* show gold star when clicked */
fieldset.rating:not(:checked) > label:hover, /* hover current star */
fieldset.rating:not(:checked) > label:hover ~ label {
	color: #FFCC00;
} 

/* hover previous stars in list */
fieldset.rating > input:checked + label:hover,
fieldset.rating > input:checked ~ label:hover,
fieldset.rating > label:hover ~ input:checked ~ label, 
fieldset.rating > input:checked ~ label:hover ~ label {
	color: #FFED85;
}

