/* erstellen der "rahmen" um die zeilen der tabelle */

tr{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

/* textausrichtung, achtung bei anpassung der anzahl spalten */
td:nth-child(4), td:last-child, th:nth-child(4), th:last-child{
	text-align: right;
}

/* breite der spalten */
col.picturecol{
	width: 120px;
}
col.titlecol{
	width: 10%;
}
col.pricecol{
	width: 10%;
}
col.amountcol{
	width: 10%;
}


/* Farbe des Bestellbuttons */
#bestellButton, #bestellButton:hover, #bestellButton:active, #bestellButton:disabled #bestellButton:focus {
	background-color: #8A3232;
	border-color: #8A3232;
	color: white;
}

